<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Dairy | Compose</title>
    <link rel="stylesheet" href="/css/composePage.css" />
    <script src="https://kit.fontawesome.com/f90678a76f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">DAILY DIARY</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="/home" >HOME</a>
        <a href="#" >ABOUT</a>
        <a href="#" >HELP</a>
      </div>
    </div>

    <div class="input">
      <h1>Compose</h1>
      <form action="/compose" method="post">
        <label>Title</label>
        <input type="text" name="title" required/>
        <label>Content</label>
        <textarea name="content" cols="30" rows="10" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
    
  </body>
</html>
