<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KEEPER</title>
    <link rel="stylesheet" href="/css/homePage.css" />
    <script src="https://kit.fontawesome.com/f90678a76f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">KEEPER</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="/home" >HOME</a>
        <a href="#" >ABOUT</a>
        <a href="#" >HELP</a>
        <a href="/logout" >LOGOUT</a>
      </div>
    </div>
      <div class="container">
        <div class="left">
          <h1>Get your daily task online with us.</h1>
          <p>Keeper is a free online task journal with lock. You can use it to record daily task, secret thoughts, and any private moments.</p>
          <div class="btn">
            <form action="/taskList" method="get">
              <button type="submit" class="viewBtn">Task List</button>
            </form>
          </div>
        </div>
        <div class="right">
          <img src="/images/img1.jpg" alt="img" >
        </div>
      </div>    
      <footer>
        <div class="footerDiv">
          <div class="regards">
            <p>Crafted with 💚 by Pragyan</p>
          </div>
          <div class="icon">
            <a href="https://www.linkedin.com/in/pragyan-patidar/" ><i class="fa-brands fa-linkedin fa-2xl"></i></a>
            <a href="https://github.com/Pragyan14" ><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.instagram.com/pragyanpatidar/" ><i class="fa-brands fa-square-instagram fa-2xl"></i></a>
          </div>
        </div>
      </footer>
  </body>
</html>

