<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Dairy</title>
    <link rel="stylesheet" href="/css/recordPage.css" />
    <script
      src="https://kit.fontawesome.com/f90678a76f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">DAILY DIARY</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="/home">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">HELP</a>
      </div>
    </div>
    <div class="container">
      <h1><%= clickedRecord.date %></h1>
      <h2><%= clickedRecord.title %></h2>
      <p><%= clickedRecord.content %></p>
    </div>
  </body>
</html>
